.component-34-child1 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 4px 4px 10px #000;
  mix-blend-mode: color-burn;
}
.frame-child37,
.hotel4 {
  position: relative;
  z-index: 1;
}
.frame-child37 {
  height: 82px;
  width: 82px;
  object-fit: cover;
}
.hotel4 {
  align-self: stretch;
  white-space: pre-wrap;
  display: inline-block;
  min-width: 104px;
  flex-shrink: 0;
}
.hotel-frame,
.rectangle-parent9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.hotel-frame {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-lgi) 0 0;
}
.rectangle-parent9 {
  align-self: stretch;
  width: 196px;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.about2,
.home3 {
  position: relative;
  display: inline-block;
  min-width: 66px;
  white-space: nowrap;
  cursor: pointer;
}
.about2 {
  min-width: 67px;
}
.rooms2 {
  width: 74px;
  white-space: pre-wrap;
  min-width: 74px;
  flex-shrink: 0;
  cursor: pointer;
}
.contact2,
.gallery3,
.pages2,
.rooms2 {
  position: relative;
  display: inline-block;
}
.gallery3 {
  color: var(--color-seagreen);
  min-width: 78px;
}
.contact2,
.pages2 {
  min-width: 65px;
  cursor: pointer;
}
.contact2 {
  width: 82px;
  white-space: pre-wrap;
  min-width: 82px;
  flex-shrink: 0;
}
.home-group {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.vector-icon2 {
  height: 35px;
  width: 35px;
  position: relative;
  min-height: 35px;
  z-index: 1;
}
.frame-parent14 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-23xl);
  max-width: 100%;
}
.component-34-inner1,
.component-342 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.component-34-inner1 {
  height: 58px;
  width: 650px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xl) 0 0;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-piazzolla);
}
.component-342 {
  align-self: stretch;
  height: 150px;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-15xl) var(--padding-52xl) var(--padding-15xl)
    var(--padding-11xl);
  position: relative;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-goldenrod-100);
  font-family: var(--font-playfair-display-sc);
}
.frame-child38,
.our-accommodations2 {
  position: relative;
  flex-shrink: 0;
  debug_commit: 1cbd860;
}
.our-accommodations2 {
  margin: 0;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
}
.frame-child38 {
  height: 18.4px;
  width: 296px;
}
.frame-wrapper10 {
  align-self: stretch;
  height: 18.4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.frame-wrapper9,
.our-accommodations-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.our-accommodations-parent {
  width: 792px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 33px;
}
.frame-wrapper9 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.component-16-icon,
.component-17-icon {
  height: 400px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 439px;
  min-height: 400px;
}
.component-16-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.component-18-icon,
.component-19-icon {
  height: 400px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 439px;
  min-height: 400px;
}
.component-18-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.component-20-icon,
.component-21-icon {
  height: 400px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 439px;
  min-height: 400px;
}
.component-20-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.frame-parent16 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-31xl);
}
.frame-parent15,
.frame-parent16,
.gallery-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent15 {
  flex: 1;
  flex-direction: column;
  gap: 79.60000000000002px;
}
.gallery-inner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xl) var(--padding-mini);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-red);
  font-family: var(--font-playfair-display-sc);
}
.dishdelish1,
.frame-child39 {
  position: relative;
  max-width: 100%;
}
.frame-child39 {
  width: 1440px;
  height: 200px;
  background-color: var(--color-white);
  display: none;
}
.dishdelish1 {
  margin: 0;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.frame-child40,
.frame-child41 {
  position: absolute;
  top: 3px;
  left: 21px;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 11px;
  height: 11px;
  z-index: 1;
}
.frame-child41 {
  left: 64px;
}
.frame-child42,
.frame-child43,
.frame-child44 {
  position: absolute;
  top: 4px;
  left: 75px;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 9px;
  height: 9px;
  z-index: 2;
}
.frame-child43,
.frame-child44 {
  left: 12px;
}
.frame-child44 {
  top: 5px;
  left: 5px;
  background-color: var(--color-black);
  width: 7px;
  height: 7px;
  z-index: 3;
}
.frame-child45,
.frame-child46,
.frame-child47 {
  position: absolute;
  top: 6px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 5px;
  height: 5px;
  z-index: 4;
}
.frame-child46,
.frame-child47 {
  top: 5px;
  left: 84px;
  background-color: var(--color-black);
  width: 7px;
  height: 7px;
  z-index: 3;
}
.frame-child47 {
  top: 6px;
  left: 91px;
  background-color: var(--color-gainsboro);
  width: 5px;
  height: 5px;
  z-index: 4;
}
.frame-child48,
.frame-child49,
.frame-child50 {
  position: absolute;
  top: 9.19px;
  left: 32px;
  background-color: var(--color-gainsboro);
  width: 13px;
  height: 13px;
  transform: rotate(-45deg);
  transform-origin: 0 0;
  z-index: 2;
}
.frame-child49,
.frame-child50 {
  left: 46px;
  z-index: 3;
}
.frame-child50 {
  top: 8.95px;
  left: 43px;
  background-color: var(--color-black);
  width: 7px;
  height: 7px;
  z-index: 4;
}
.ellipse-container {
  height: 18.4px;
  flex: 1;
  position: relative;
  min-width: 72px;
}
.frame-child51 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.dish-delish-icon-inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 8.400000000000091px;
  box-sizing: border-box;
  min-width: 75px;
}
.frame-child52 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.dish-delish-icon-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 8.400000000000091px;
  box-sizing: border-box;
  min-width: 75px;
}
.dish-delish-icon {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  row-gap: 20px;
}
.dish-delish-icon-wrapper,
.rectangle-parent10 {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.dish-delish-icon-wrapper {
  width: 408px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 56px;
}
.rectangle-parent10 {
  align-self: stretch;
  background-color: var(--color-white);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-38xl) var(--padding-xl) 19.59999999999991px;
  gap: var(--gap-xl);
}
.component-22-icon,
.component-23-icon {
  height: 400px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 439px;
  min-height: 400px;
}
.component-22-parent,
.frame-wrapper11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.component-22-parent {
  flex: 1;
  flex-wrap: wrap;
  gap: var(--gap-11xl);
}
.frame-wrapper11 {
  align-self: stretch;
  padding: 0 var(--padding-11xl);
  box-sizing: border-box;
}
.component-24-icon,
.component-25-icon {
  height: 400px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 439px;
  min-height: 400px;
}
.component-24-parent,
.frame-wrapper12 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.component-24-parent {
  flex: 1;
  flex-wrap: wrap;
  gap: var(--gap-11xl);
}
.frame-wrapper12 {
  align-self: stretch;
  padding: 0 var(--padding-11xl);
  box-sizing: border-box;
}
.component-26-icon,
.component-27-icon {
  height: 400px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 439px;
  min-height: 400px;
}
.component-26-parent,
.frame-parent17,
.frame-wrapper13 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.component-26-parent {
  flex: 1;
  flex-wrap: wrap;
  gap: var(--gap-11xl);
}
.frame-parent17,
.frame-wrapper13 {
  align-self: stretch;
  padding: 0 var(--padding-11xl);
  box-sizing: border-box;
}
.frame-parent17 {
  flex-direction: column;
  padding: 0 0 var(--padding-mini);
  gap: var(--gap-31xl);
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-red);
  font-family: var(--font-playfair-display-sc);
}
.frame-child53 {
  width: 1440px;
  height: 200px;
  position: relative;
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.gym1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  text-transform: uppercase;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.gym-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 74px 0 var(--padding-54xl);
}
.frame-child54 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.line-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 8.400000000000091px;
}
.frame-child55,
.frame-child56 {
  position: absolute;
  top: 3px;
  left: 21px;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 11px;
  height: 11px;
  z-index: 1;
}
.frame-child56 {
  left: 64px;
}
.frame-child57,
.frame-child58,
.frame-child59 {
  position: absolute;
  top: 4px;
  left: 75px;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 9px;
  height: 9px;
  z-index: 2;
}
.frame-child58,
.frame-child59 {
  left: 12px;
}
.frame-child59 {
  top: 5px;
  left: 5px;
  background-color: var(--color-black);
  width: 7px;
  height: 7px;
  z-index: 3;
}
.frame-child60,
.frame-child61,
.frame-child62 {
  position: absolute;
  top: 6px;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gainsboro);
  width: 5px;
  height: 5px;
  z-index: 4;
}
.frame-child61,
.frame-child62 {
  top: 5px;
  left: 84px;
  background-color: var(--color-black);
  width: 7px;
  height: 7px;
  z-index: 3;
}
.frame-child62 {
  top: 6px;
  left: 91px;
  background-color: var(--color-gainsboro);
  width: 5px;
  height: 5px;
  z-index: 4;
}
.frame-child63,
.frame-child64,
.frame-child65 {
  position: absolute;
  top: 9.19px;
  left: 32px;
  background-color: var(--color-gainsboro);
  width: 13px;
  height: 13px;
  transform: rotate(-45deg);
  transform-origin: 0 0;
  z-index: 2;
}
.frame-child64,
.frame-child65 {
  left: 46px;
  z-index: 3;
}
.frame-child65 {
  top: 8.95px;
  left: 43px;
  background-color: var(--color-black);
  width: 7px;
  height: 7px;
  z-index: 4;
}
.ellipse-parent1 {
  height: 18.4px;
  flex: 1;
  position: relative;
}
.frame-child66 {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.line-wrapper1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 8.400000000000091px;
}
.frame-parent19,
.rectangle-parent11 {
  display: flex;
  justify-content: flex-start;
}
.frame-parent19 {
  width: 296px;
  flex-direction: row;
  align-items: flex-end;
}
.rectangle-parent11 {
  align-self: stretch;
  background-color: var(--color-white);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-38xl) var(--padding-xl) 30.59999999999991px;
  box-sizing: border-box;
  gap: 9px;
  max-width: 100%;
}
.component-28-icon,
.component-29-icon {
  height: 400px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 439px;
  min-height: 400px;
}
.component-component-component,
.component-component-component-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.component-component-component {
  flex: 1;
  flex-wrap: wrap;
  gap: var(--gap-11xl);
}
.component-component-component-wrapper {
  align-self: stretch;
  padding: 0 var(--padding-11xl);
  box-sizing: border-box;
}
.component-30-icon,
.component-31-icon {
  height: 400px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 439px;
  min-height: 400px;
}
.component-30-parent,
.frame-wrapper14 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.component-30-parent {
  flex: 1;
  flex-wrap: wrap;
  gap: var(--gap-11xl);
}
.frame-wrapper14 {
  align-self: stretch;
  padding: 0 var(--padding-11xl);
  box-sizing: border-box;
}
.component-32-icon,
.component-33-icon {
  height: 400px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 439px;
  min-height: 400px;
}
.component-32-parent {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-11xl);
  max-width: 100%;
}
.component-32-parent,
.frame-parent18,
.frame-wrapper15,
.gallery2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper15 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-11xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent18,
.gallery2 {
  flex-direction: column;
}
.frame-parent18 {
  align-self: stretch;
  gap: 49.666666666666664px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-red);
  font-family: var(--font-playfair-display-sc);
}
.gallery2 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  padding: 0 0 103px;
  box-sizing: border-box;
  gap: var(--gap-15xl);
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .component-342 {
    padding-right: var(--padding-16xl);
    box-sizing: border-box;
  }
  .dishdelish1,
  .our-accommodations2 {
    font-size: var(--font-size-32xl);
  }
  .frame-parent17 {
    gap: 25px 50px;
  }
  .gym1 {
    font-size: var(--font-size-32xl);
  }
  .frame-parent18 {
    gap: 25px 49.7px;
  }
  .gallery2 {
    gap: 17px 34px;
  }
}
@media screen and (max-width: 675px) {
  .frame-parent14 {
    gap: 42px 21px;
  }
  .component-16-icon,
  .component-17-icon,
  .component-18-icon,
  .component-19-icon,
  .component-20-icon,
  .component-21-icon {
    min-width: 100%;
  }
  .frame-parent16 {
    gap: 25px 50px;
  }
  .frame-parent15 {
    gap: 40px 79.6px;
  }
  .component-22-icon,
  .component-23-icon,
  .component-24-icon,
  .component-25-icon,
  .component-26-icon,
  .component-27-icon,
  .component-28-icon,
  .component-29-icon,
  .component-30-icon,
  .component-31-icon,
  .component-32-icon,
  .component-33-icon {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .our-accommodations2 {
    font-size: var(--font-size-19xl);
  }
  .our-accommodations-parent {
    gap: 16px 33px;
  }
  .frame-parent15 {
    gap: 20px 79.6px;
  }
  .dishdelish1 {
    font-size: var(--font-size-19xl);
  }
  .dish-delish-icon-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .gym1 {
    font-size: var(--font-size-19xl);
  }
  .gym-container {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
